.paginationBtn{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.paginationBtn a{
    border: 1px solid rgb(115, 76, 76);
    margin: 6px;
    border-radius: 17px;
    padding: 6px;
}
.paginationBtn a:hover{
    background-color: rgb(108, 101, 101);
}
.paginationPrev{
    color: rgb(46, 44, 44);
    text-decoration: none;
}
.paginationNext{
    color: rgb(45, 43, 43);
    text-decoration: none;
}
.paginationActive a{
    background-color: rgb(108, 101, 101);
}
.card{
    margin: 6px;
}
.totalCards{
    margin-left: 100px;

}